# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# JRebel file
rebel.xml

# operating system files
.DS_Store

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# compilation directories
/bin/
/target/m2e-wtp/
/target/maven-archiver/
/target/EquinoxWeb-1.0/
/target/classes/
/target/docker/
